#content {
    width: 70%;
    margin: auto;
    background-color: rgba(150, 20, 10, .5);
    padding: 30px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.menu-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.item-text {
    background-color: aqua;
    padding: 0;
    display: flex;
    flex-direction: column;
}

img {
    height: 120px;
    width: 120px;
}